<div class="position-relative mt-2">
    <div class="container">
        <div class="card bg-gradient-danger z-index-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h3 class="text-white">Seja o primeiro a receber novidades</h3>
                        <p class="text-white opacity-8 mb-5">
                            Fique por dentro das nossas promoções, novos sabores e ofertas especiais diretamente no seu
                            e-mail.
                        </p>
                        <div class="row">
                            <div class="col-sm-5 ms-auto">
                                <form action="#" method="post">
                                    <div class="input-group input-group-outline">
                                        <label for="email" class="form-label">E-mail</label>
                                        <input class="form-control" id="email" name="email" type="text" required autocomplete="email">
                                    </div>

                            </div>
                            <div class="col-sm-3 me-auto text-start mt-3 mt-md-0">
                                <button type="submit"
                                    class="btn btn-white btn-round w-100 mb-0 h-100 position-relative z-index-2">Inscrever-se</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer pb-5 pt-10 bg-gradient-light mt-n8 position-relative">
    <div class="position-absolute w-100 z-index-1 top-0 mt-n3">
        <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>wave-down</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#FFFFFF" fill-rule="nonzero">
                    <g id="wave-down">
                        <path
                            d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z"
                            id="Path-Copy-2"
                            transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) ">
                        </path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h6 class="font-weight-bolder mb-lg-4 mb-3 text-center text-lg-start">PizzazZ</h6>
                <p class="text-center text-lg-start">Deliciosas pizzas entregues quentinhas até a sua porta.</p>
            </div>
            <div class="col-lg-6 text-center">
                <ul class="nav flex-row align-items-center mb-5 mt-sm-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">
                            Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#menu">
                            Cardápio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            Contato
                        </a>
                    </li>
                </ul>
                <p class="mb-0">
                    Copyright ©
                    <script>document.write(new Date().getFullYear())</script> PizzazZ - Todos os direitos reservados.
                </p>
            </div>
            <div class="col-lg-3 text-lg-end text-center">
                <a href="https://www.instagram.com" target="_blank" class="text-secondary me-xl-4 me-4">
                    <span class="fab fa-instagram text-lg"></span>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="text-secondary me-xl-4 me-4">
                    <span class="fab fa-facebook text-lg"></span>
                </a>
                <a href="https://twitter.com" target="_blank" class="text-secondary me-xl-4 me-4">
                    <span class="fab fa-twitter text-lg"></span>
                </a>
                <a href="https://www.linkedin.com" target="_blank" class="text-secondary">
                    <span class="fab fa-linkedin text-lg"></span>
                </a>
            </div>
        </div>
    </div>
</footer>