{% if messages %}
    <script type="text/javascript">
        {% for message in messages %}
            {% if 'alert-success' in message.tags %}
                showSweetAlert("Sucesso", "{{ message }}", "success");
            {% elif message.tags == 'alert-danger' %}
                showSweetAlert("Erro", "{{ message }}", "error");
            {% elif message.tags == 'alert-warning' %}
                showSweetAlert("Atenção", "{{ message }}", "warning");
            {% elif message.tags == 'alert-info' %}
                showSweetAlert("Informação", "{{ message }}", "info");
            {% endif %}
        {% endfor %}
    </script>
{% endif %}
