<!--   Core JS Files   -->
<script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js" type="text/javascript"></script>
<script src="{{ ASSETS_ROOT }}/js/core.min.js" type="text/javascript"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/plugins/scrollreveal.js"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".tilt"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 0.5,
    });
</script>