{% extends 'layouts/base.html' %}

{% load my_filters %}

{% load static %}

{% block stylesheets %}
<style>
  .input-group.input-group-outline.is-focused .form-label+.form-control,
  .input-group.input-group-outline.is-filled .form-label+.form-control {
    border-color: #D2D6DA !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 #D2D6DA, inset -1px 0 #D2D6DA, inset 0 -1px #D2D6DA;
  }

  .input-group.input-group-outline.is-focused .form-label:before,
  .input-group.input-group-outline.is-focused .form-label:after,
  .input-group.input-group-outline.is-filled .form-label:before,
  .input-group.input-group-outline.is-filled .form-label:after {
    border-top-color: #D2D6DA;
    box-shadow: inset 0 1px #D2D6DA;
  }

  .input-group.input-group-outline.is-focused .form-label,
  .input-group.input-group-outline.is-filled .form-label {
    color: #333;
  }

  .nav-link-text {
    color: #27272A;
  }

  body {
    background: #F5F5F5;
  }

  .active {
    background: #fff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1) !important;
  }

  .active div:nth-child(1) {
    background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%) !important;
  }

  .custom-bg {
    background: transparent;
  }

  .modal-backdrop {
      z-index: 99999 !important;
  }

  .modal {
      z-index: 999999;
      word-wrap: break-word;
      white-space: normal;
  }

  .modal-content{
    border: none;
  }

  .page-item.active{
    background: transparent !important; box-shadow: none !important;
}
.flatpickr-calendar .flatpickr-day.today, .flatpickr-calendar .flatpickr-day.selected, .flatpickr-calendar .flatpickr-day.startRange, .flatpickr-calendar .flatpickr-day.endRange{
    background: #f44335 !important;
}

  @media (max-width: 1200px) {
    .custom-bg {
      background-color: white !important;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="g-sidenav-show bg-gray-100" id="controlSide">
  <aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 custom-bg"
    id="sidenav-main">
    <div class="sidenav-header p-3">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'dashboard' cnpj=empresa.cnpj|remove_mask %}">
        <img src="{{ASSETS_ROOT}}/img/logo-black-icon.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">{{empresa.nome_fantasia}}</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Dashboard' %}active{% endif %}"
            href="{% url 'dashboard' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-house-line top-0 text-dark {% if page_title == 'Dashboard' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Cardápio' %}active{% endif %}"
            href="{% url 'cardapio' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-notepad top-0 text-dark {% if page_title == 'Cardápio' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Cardápio</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Ingredientes' %}active{% endif %}"
            href="{% url 'ingredientes' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-chef-hat top-0 text-dark {% if page_title == 'Ingredientes' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Ingredientes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Receitas' %}active{% endif %}"
            href="{% url 'receitas' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-cooking-pot top-0 text-dark {% if page_title == 'Receitas' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Receitas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Pedidos' %}active{% endif %}"
            href="{% url 'pedidos' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-receipt top-0 text-dark {% if page_title == 'Pedidos' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Pedidos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Estoque' %}active{% endif %}"
            href="{% url 'estoque' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-package top-0 text-dark {% if page_title == 'Estoque' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Estoque</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Movimentações' %}active{% endif %}"
            href="{% url 'movimentacoes' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-arrow-square-down-right top-0 text-dark {% if page_title == 'Movimentações' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Movimentações</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Conta</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Perfil' %}active{% endif %}"
            href="{% url 'perfil' cnpj=empresa.cnpj|remove_mask %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i
                class="ph-bold ph-user top-0 text-dark {% if page_title == 'Perfil' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Perfil</span>
          </a>
        </li>
        {% if request.user.is_dono or request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Perfil Empresa' %}active{% endif %}"
            href="{% url 'perfil_empresa' cnpj=empresa.cnpj|remove_mask %}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ph-bold ph-building top-0 text-dark {% if page_title == 'Perfil Empresa' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Perfil Empresa</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page_title == 'Controle de Usuários' %}active{% endif %}"
            href="{% url 'controle_usuarios' cnpj=empresa.cnpj|remove_mask %}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ph-bold ph-user-circle top-0 text-dark {% if page_title == 'Controle de Usuários' %}text-white{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Controle de Usuários</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="sidenav-footer">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'logout' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ph-bold ph-sign-out top-0 text-dark"></i>
            </div>
            <span class="nav-link-text ms-1">Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <h6 class="font-weight-bolder mb-0">{{ page_title }}</h6>
        <div class="ms-md-auto pe-md-3 d-flex align-items-center" id="navbar">
          {% if request.user.is_superuser %}
          <h6 class="justify-content-end text-danger font-weight-normal">Você está logado como: Admin</h6>
          {% endif %}
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" style="width: 300px;" aria-labelledby="dropdownMenuButton" id="notificationDropdown">
              </ul>
            </li>
            <!--
                <li class="nav-item dropdown d-flex align-items-center">
                  <a href="javascript:;" class="avatar avatar-xs rounded-circle" id="perfil" data-bs-toggle="dropdown"
                  aria-expanded="false">
                              <img src="/media/{{empresa.perfil_empresa}}" style="object-fit: cover; height: 100%; width: 100%;" alt="perfil">
                  </a>
                  <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="perfil">
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                              <span class="font-weight-bold">Novo pedido</span> from Laur
                            </h6>
                            <p class="text-xs text-secondary mb-0 ">
                              <i class="fa fa-clock me-1"></i>
                              13 minutes ago
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                  -->
          </ul>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0"></script>

    <!-- End Navbar -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <!-- Toasts serão adicionados dinamicamente aqui -->
  </div>
    {% block content2 %} {% endblock %}
  </main>
  
<script>
    function fetchNotifications() {
        // Fetch para buscar as notificações
        fetch("{% url 'get_notifications' cnpj=empresa.cnpj|remove_mask %}")
            .then(response => response.json())  // Converte a resposta em JSON
            .then(data => {
                if (data.notifications.length > 0) {
                    data.notifications.forEach(function(notification) {
                        // Criando o Toast dinâmico
                        var toastElement = document.createElement('div');
                        toastElement.classList.add('toast');
                        toastElement.classList.add('align-items-center');
                        toastElement.classList.add('text-bg-info');
                        toastElement.classList.add('border-0');
                        toastElement.setAttribute('role', 'alert');
                        toastElement.setAttribute('aria-live', 'assertive');
                        toastElement.setAttribute('aria-atomic', 'true');

                        toastElement.innerHTML = `
                            <div class="toast fade p-2 bg-white show" style="z-index: 999999999999999 !important;" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
                              <div class="toast-header border-0">
                                <i class="material-symbols-rounded text-success me-2">
                              check
                            </i>
                                <span class="me-auto font-weight-bold">PizzazzZ</span>
                                <small class="text-body">${notification.timestamp}</small>
                              </div>
                              <hr class="horizontal dark m-0">
                              <div class="toast-body text-dark">
                                ${notification.message}
                              </div>
                            </div>
                        `;

                        // Adicionando o toast à área de toasts
                        document.querySelector('.toast-container').append(toastElement);

                        // Inicializando e exibindo o Toast
                        var toast = new bootstrap.Toast(toastElement);
                        toast.show();

                        // Marcar a notificação como lida
                        if (notification.id) {
                            fetch(`/empresas/empresa.cnpj|remove_mask/mark_notification_as_read/${notification.id}`, {
                                method: "GET"
                            })
                        }
                    });
                }
            })
            .catch(error => {
                console.error("Erro ao buscar notificações:", error);
            });
    }

    function fetchLatestNotificationsForDropdown() {
        fetch("{% url 'get_notifications_all' cnpj=empresa.cnpj|remove_mask %}")
            .then(response => response.json())
            .then(data => {
                const dropdown = document.getElementById("notificationDropdown");
                dropdown.innerHTML = ""; // Limpa o conteúdo atual

                if (data.notifications.length > 0) {
                    data.notifications.slice(0, 5).forEach(notification => {
                        const timeAgo = notification.timestamp; // Ajustar formato para "x minutos atrás", se necessário

                        const notificationItem = `
                            <li>
                                <a class="dropdown-item border-radius-md" href="javascript:;">
                                    <div class="d-flex py-1">
                                        <div class="avatar avatar-sm bg-gradient-secondary me-3 my-auto" style="flex-shrink: 0;">
                                            <svg width="12px" height="12px" viewBox="0 0 43 36" xmlns="http://www.w3.org/2000/svg">
                                                <title>notification</title>
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                        <g transform="translate(1716.000000, 291.000000)">
                                                            <g transform="translate(453.000000, 454.000000)">
                                                                <path class="color-background"
                                                                    d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                                                    opacity="0.593633743"></path>
                                                                <path class="color-background"
                                                                    d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="text-sm font-weight-normal mb-1" style="white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis;">
                                                ${notification.message}
                                            </h6>
                                            <p class="text-xs text-secondary mb-0">
                                                <i class="fa fa-clock me-1"></i>
                                                ${timeAgo}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        `;
                        dropdown.innerHTML += notificationItem;
                    });
                } else {
                    dropdown.innerHTML = '<li class="text-center py-2">Sem notificações</li>';
                }
            })
            .catch(error => console.error("Erro ao buscar notificações:", error));
    }

    // Executa as funções ao carregar a página
    document.addEventListener("DOMContentLoaded", function() {
        fetchNotifications(); // Função dos toasts
        fetchLatestNotificationsForDropdown(); // Função do dropdown

        setInterval(fetchNotifications, 5000); // Atualiza os toasts a cada 5 segundos
        setInterval(fetchLatestNotificationsForDropdown, 5000); // Atualiza o dropdown a cada 5 segundos
    });
</script>

  <script>
    // Alternar classe ao clicar no botão
    document.getElementById('iconNavbarSidenav').addEventListener('click', function (event) {
      const controlSide = document.getElementById('controlSide');
      controlSide.classList.toggle('g-sidenav-pinned');
      event.stopPropagation(); // Evita que o clique no botão feche a sidebar
    });

    // Fechar sidebar ao clicar fora dela
    document.addEventListener('click', function (event) {
      const sidebar = document.getElementById('sidenav-main');
      const button = document.getElementById('iconNavbarSidenav');
      const controlSide = document.getElementById('controlSide');

      // Verificar se o clique não foi na sidebar nem no botão
      if (!sidebar.contains(event.target) && !button.contains(event.target)) {
        controlSide.classList.remove('g-sidenav-pinned');
      }
    });
  </script>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/validar-form.js' %}"></script>
<script src="{% static 'assets/js/plugins/input-mask.min.js' %}"></script>
{% endblock %}