{% extends 'layouts/base.html' %}

{% block title %}Em Breve{% endblock %}

{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="{% url 'lp_app' %}">
        PizzazzZ
      </a>
    </div>
  </nav>



<main class="main-content mt-0 vh-100">
    <section class="my-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto">
            <h1 class="display-1 text-bolder text-gradient text-danger fadeIn1 fadeInBottom">Em Construção</h1>
            <h2 class="fadeIn3 fadeInBottom opacity-8">Estamos desenvolvendo uma linda area de cliente para você!</h2>
            <p class="lead opacity-8 fadeIn2 fadeInBottom">Para você cliente conseguir pedir do conforto de sua casa. É parceiro?</p>
            <a href="{% url 'login' %}" class="btn bg-gradient-danger mt-4 fadeIn2 fadeInBottom">Login</a>
          </div>
          <div class="col-lg-6 my-auto position-relative">
            <img class="w-100 position-relative fadeIn1 fadeInBottom" src="{% static 'assets/img/illustrations/error-404.webp' %}" alt="404-error">
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}