{% extends 'layouts/base.html' %}

{% block title %}Login Clientes{% endblock %}


{% block stylesheets %}
<style>
  .input-group.input-group-outline.is-focused .form-label+.form-control,
  .input-group.input-group-outline.is-filled .form-label+.form-control {
    border-color: #D2D6DA !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 #D2D6DA, inset -1px 0 #D2D6DA, inset 0 -1px #D2D6DA;
  }

  .input-group.input-group-outline.is-focused .form-label:before,
  .input-group.input-group-outline.is-focused .form-label:after,
  .input-group.input-group-outline.is-filled .form-label:before,
  .input-group.input-group-outline.is-filled .form-label:after {
    border-top-color: #D2D6DA;
    box-shadow: inset 0 1px #D2D6DA;
  }

  .input-group.input-group-outline.is-focused .form-label,
  .input-group.input-group-outline.is-filled .form-label {
    color: #333;
  }
</style>
{% endblock %}


{% block content %}
<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <!-- Formulário de Login -->
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto me-lg-auto ms-lg-5 order-lg-1">
          <div class="card card-plain">
            <div class="card-header pb-0 text-start">
              <img src="{{ASSETS_ROOT}}/img/logo-black.png" alt="Logo" class="mb-6"
                style="max-width: 150px; margin-left: -5px;">
              <h3 class="font-weight-bolder text-danger text-gradient">Cliente seja<br>Bem-vindo de volta</h3>
              <p class="mb-0">Entre seu e-mail e senha para logar</p>
            </div>
            <div class="card-body mt-2">
              <form role="form" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="input-group input-group-outline has-validation mb-3">
                  <label class="form-label">E-mail</label>
                  <input type="email" class="form-control" required>
                  <div class="invalid-feedback">Digitar um e-mail válido é obrigatório.</div>
                </div>
                <div class="input-group input-group-outline has-validation mb-3">
                  <label class="form-label">Senha</label>
                  <input type="password" class="form-control" required>
                  <div class="invalid-feedback">Digitar sua senha é obrigatório.</div>
                </div>
                <div class="form-check form-switch d-flex align-items-center mb-3">
                  <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                  <label class="form-check-label mb-0 ms-3" for="rememberMe">Lembrar-se</label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-lg bg-gradient-danger btn-lg w-100 mt-4 mb-0">Login</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Não é cadastrado?
                <a href="javascript:;" class="text-danger text-gradient font-weight-bold">Cadastre-se</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Imagem -->
        <div
          class="col-6 d-lg-flex d-none h-100 my-auto ps-0 position-absolute top-0 end-0 text-center justify-content-center flex-column order-lg-2">
          <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
            style="background-image: url('/static/assets/img/Pizza-2.jpg'); background-size: cover;" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% block javascript %}
<script>
  (function () {
    'use strict'

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          var inputs = form.querySelectorAll('.form-control');
          var isValid = true;

          inputs.forEach(function (input) {
            var inputGroup = input.closest('.input-group');
            if (input.checkValidity()) {
              inputGroup.classList.remove('is-invalid');
              inputGroup.classList.add('is-valid');
            } else {
              inputGroup.classList.remove('is-valid');
              inputGroup.classList.add('is-invalid');
              isValid = false;
            }
          });

          if (!isValid) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
  })()
</script>
{% endblock %}




{% endblock %}