{% extends 'layouts/base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/form-reset.css' %}">
<style>
    .oblique {
    transform: skewX(-10deg);
    overflow: hidden;
    width: 60%;
    right: -10rem;
    border-bottom-left-radius: .75rem;
}

.oblique .oblique-image {
    transform: skewX(10deg);
}
</style>
{% endblock %}


{% block content %}
<section class="">
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <!-- Formulário de Login -->
        <div class="col-xl-5 col-lg-6 col-md-8 col-12 px-5 d-flex flex-column">
          {% include 'includes/messages.html' %}
          <div class="card card-plain">
            <div class="card-header pb-0 text-center">
                <img src="{{ ASSETS_ROOT }}/img/logo-black.png" alt="Logo" style="max-width: 150px;">
                <h3 class="font-weight-bolder text-danger text-gradient">Redefina sua senha</h3>
                <p class="mb-0">Insira uma nova senha para a sua conta.</p>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group input-group-outline mb-3">
                        <label for="new_password" class="form-label">Nova Senha</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <label for="confirm_password" class="form-label">Confirmar Senha</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg bg-gradient-danger btn-lg w-100 mt-4 mb-0">Alterar Senha</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                    Lembrou da senha? <a href="{% url 'login' %}" class="text-danger text-gradient font-weight-bold">Login</a>
                </p>
            </div>
        </div>
        </div>
        <!-- Imagem -->
        <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <img class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" src="{% static 'assets/img/curved-images/curved11.jpg' %}"></img>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% block javascript %}
<script src="{% static 'js/validar-form.js' %}"></script>
{% endblock %}




{% endblock %}