{% extends 'includes/side-nav.html' %}
{% load static %}
{% load my_filters %}
{% block title %}Cardápio{% endblock %}

{% block content2 %}
<style>
    .form-check-input:checked {
        background: linear-gradient(195deg, #EF5350 0%, #E53935 100%) !important;
        border-color: #E53935 !important;
    }

    .form-switch .form-check-input {
        position: relative;
        background-color: #ccc;
    }

    .form-switch .form-check-input:checked:after {
        border-color: #E53935;
    }
</style>
<div class="container-fluid py-4 min-vh-85">
    <div class="row">
        <div class="col-lg-9 col-7">
            <div class="input-group input-group-outline">
                <span class="input-group-text"><i class="ph-bold ph-magnifying-glass position-absolute end-0 me-3"
                        style="margin-top: 14px;"></i></span>
                <input type="text" class="form-control" placeholder="Busque pelo nome do item" id="search" name="search"
                    style="padding-right: 35px !important;">
            </div>
        </div>
        <div class="col-lg-3 col-5 justify-content-center">
            <button class="btn bg-gradient-danger w-100" data-bs-toggle="modal"
                data-bs-target="#modalCadastroCategoria">+ Categoria</button>
        </div>
        <div class="col-lg-12">
            {% include 'includes/messages.html' %}

            {% for categoria in categorias %}
            <div class="card mb-5">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6>{{ categoria.nome }}</h6>
                        <div class="d-flex justify-content-between align-items-center gap-lg-5">
                            <button class="btn btn-outline-danger btn-sm mb-0" data-bs-toggle="modal"
                                data-bs-target="#modalCadastroItem{{categoria.id}}">+ Item</button>
                            <!-- Modal para cadastrar novo item -->
                            <div class="modal fade" id="modalCadastroItem{{categoria.id}}" tabindex="-1"
                                aria-labelledby="modalCadastroItemLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content rounded-lg border-radius-xl shadow">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalCadastroEstoqueLabel">Novo Item</h5>
                                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                                                aria-label="Close">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST"
                                                action="{% url 'adicionar_item' cnpj=empresa.cnpj|remove_mask categoria_id=categoria.id %}"
                                                class="needs-validation" novalidate enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <!-- Campo Nome -->
                                                <div class="mb-3 input-group input-group-outline">
                                                    <label for="nome{{categoria.id}}" class="form-label">Nome do
                                                        Item</label>
                                                    <input type="text" class="form-control" id="nome{{categoria.id}}"
                                                        name="nome{{categoria.id}}" required>
                                                    <div class="invalid-feedback">Digite o nome</div>
                                                </div>

                                                <!-- Campo Descrição -->
                                                <div class="mb-3 input-group input-group-outline"
                                                    style="margin-top: 30px;">
                                                    <label for="descricao{{categoria.id}}" class="position-absolute"
                                                        style="top: -25px;">Descrição</label>
                                                    <textarea type="number" class="form-control"
                                                        id="descricao{{categoria.id}}" name="descricao{{categoria.id}}"
                                                        required></textarea>
                                                    <div class="invalid-feedback">Digite a observação</div>
                                                </div>

                                                <!-- Campo Preço Unitário -->
                                                <div class="mb-3 input-group input-group-outline"
                                                    id="precoUnitarioContainer" style="display: flex;">
                                                    <label for="preco_unitarioC{{categoria.id}}" class="form-label">Preço
                                                        Unitário</label>
                                                    <input type="text" class="form-control"
                                                        id="preco_unitarioC{{categoria.id}}"
                                                        name="preco_unitarioC{{categoria.id}}" required>
                                                </div>


                                                <!-- Checkbox: Borda Recheada -->
                                                <div class="form-check mb-3" style="margin-left: -27px;">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="borda_recheada{{categoria.id}}"
                                                        name="borda_recheada{{categoria.id}}">
                                                    <label class="form-check-label"
                                                        for="borda_recheada{{categoria.id}}">Oferecer Borda
                                                        Recheada?</label>
                                                </div>

                                                <!-- Campo Upload de Imagem -->
                                                <div class="mb-3 input-group input-group-outline mt-5">
                                                    <label for="imagem{{categoria.id}}"
                                                        style="position: absolute; top: 0; margin-top: -27px;">Imagem do
                                                        Item</label>
                                                    <input type="file" class="form-control" id="imagem{{categoria.id}}"
                                                        name="imagem{{categoria.id}}" accept="image/*"
                                                        onchange="previewImagem(this)">
                                                </div>
                                                <div class="mb-3">
                                                    <img id="asd{{categoria.id}}" class="preview-imagem" src=""
                                                        alt="Preview da Imagem" class="img-fluid rounded shadow"
                                                        style="display: none; max-height: 200px; object-fit: cover;">
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" id="submitBtn"
                                                        class="btn bg-gradient-danger w-100">Cadastrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    const campoPreco = document.getElementById("preco_unitarioC{{categoria.id}}");
                                    const im = new Inputmask("numeric", {
                                        groupSeparator: ".",
                                        autoGroup: true,
                                        radixPoint: ",",
                                        prefix: "R$ ",
                                        rightAlign: false,
                                        digits: 2,
                                        digitsOptional: false,
                                    });
                                    im.mask(campoPreco);
                                });
                            </script>
                            <script>
                                function previewImagem(input) {
                                    const categoriaId = input.id.replace("imagem", ""); // Extrair categoria.id do ID do input
                                    const preview = document.querySelector(`#asd${categoriaId}`); // Selecionar o preview da imagem

                                    if (input.files && input.files[0]) {
                                        const reader = new FileReader();
                                        reader.onload = function (e) {
                                            preview.src = e.target.result;
                                            preview.style.display = 'block'; // Mostrar o preview
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    } else {
                                        preview.src = '';
                                        preview.style.display = 'none'; // Esconder o preview se não houver arquivo
                                    }
                                }

                            </script>
                            <div class="form-check form-switch d-flex align-items-center justify-content-end">
                                <input class="form-check-input categoria-ativo" type="checkbox" id="ativoCategoria{{categoria.id}}"
                                    name="ativoCategoria{{categoria.id}}" data-item-id="{{categoria.id}}" {% if categoria.ativo %}checked{% endif %}>
                            </div>
                            <a href="javascript:;" class="cursor-pointer btn btn-link mb-0 text-secondary"
                                id="dropCategoria" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-rounded" style="font-size: x-large;">
                                    more_vert
                                </span>
                            </a>
                            <ul class="dropdown-menu px-2 py-3 shadow" aria-labelledby="dropCategoria"
                                style="border: 1px solid #e5e5e5">
                                <li><a class="dropdown-item border-radius-md" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modalEditCategoria{{categoria.id}}">Editar</a></li>
                                <li><a class="dropdown-item border-radius-md dele-link" href="javascript:;"
                                        data-bs-toggle="modal" data-bs-target="#confirmarDeletarModal"
                                        data-id="{{ categoria.id }}"
                                        data-url="{% url 'deletar_categoria' cnpj=empresa.cnpj|remove_mask item_id=categoria.id %}">Deletar</a>
                                </li>
                            </ul>
                            <div class="modal fade" id="modalEditCategoria{{categoria.id}}" tabindex="-1" aria-labelledby="modalEditCategoria{{categoria.id}}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content rounded-lg border-radius-xl shadow">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalCadastroEstoqueLabel">Editar Categoria: {{categoria.nome}}</h5>
                                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                                                aria-label="Close">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="{% url 'editar_categoria' cnpj=empresa.cnpj|remove_mask item_id=categoria.id %}"
                                                class="needs-validation" novalidate>
                                                {% csrf_token %}
                                                <!-- Campo Observação -->
                                                <div class="mb-3 input-group input-group-outline is-filled">
                                                    <label for="nomeE" class="form-label">Nome</label>
                                                    <input type="text" class="form-control" id="nomeE" name="nomeE" value="{{categoria.nome}}" required>
                                                    <div class="invalid-feedback">Digite o nome</div>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" id="submitBtn" class="btn bg-gradient-danger w-100">Cadastrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">
                                    Item</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Ativo</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cardapios %}
                            {% if item.categoria == categoria %}
                            <tr>
                                <td class="ps-4 text-dark">
                                    <div class="d-flex py-1">
                                        <div>
                                            <img src="{{ item.imagem.url }}"
                                                class="avatar avatar-xl me-3 border-radius-lg">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0">{{ item.nome }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check form-switch text-center d-flex row justify-content-center align-items-center">
                                        <input class="form-check-input item-ativo-vende" type="checkbox"
                                            id="ativoCardapio{{item.id_cardapio}}" {% if item.ativo %}checked{% endif %}
                                            data-item-id="{{ item.id_cardapio }}">
                                </td>
                                <td class="text-end">
                                    <a href="javascript:;" class="cursor-pointer btn btn-link text-secondary mb-0"
                                        id="dropItem" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="material-symbols-rounded"
                                            style="font-size: x-large; padding-right: 8px;">
                                            more_vert
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 shadow" aria-labelledby="dropItem"
                                        style="border: 1px solid #e5e5e5">
                                        <a class="dropdown-item border-radius-md" data-bs-toggle="modal"
                                            data-bs-target="#modalEditarItem{{item.id_cardapio}}">Editar</a>
                                        <li><a class="dropdown-item border-radius-md dele-link" data-bs-toggle="modal"
                                                data-bs-target="#confirmarDeletarModal" data-id="{{ item.id_cardapio }}"
                                                data-url="{% url 'deletar_item' cnpj=empresa.cnpj|remove_mask item_id=item.id_cardapio %}">Deletar</a>
                                        </li>
                                    </ul>
                                    <!-- Modal de Edição -->
                                    <div class="modal fade text-start" id="modalEditarItem{{item.id_cardapio}}"
                                        tabindex="-1" aria-labelledby="modalEditarItemLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content rounded-lg border-radius-xl shadow">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalEditarItemLabel">Editar Item</h5>
                                                    <button type="button" class="btn-close text-dark"
                                                        data-bs-dismiss="modal" aria-label="Close">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST"
                                                        action="{% url 'editar_item' cnpj=empresa.cnpj|remove_mask item_id=item.id_cardapio %}"
                                                        enctype="multipart/form-data" class="needs-validation"
                                                        novalidate>
                                                        {% csrf_token %}

                                                        <!-- Campo Nome -->
                                                        <div class="mb-3 input-group input-group-outline is-filled">
                                                            <label for="nome{{item.id_cardapio}}"
                                                                class="form-label">Nome do Item</label>
                                                            <input type="text" class="form-control"
                                                                id="nome{{item.id_cardapio}}"
                                                                name="nome{{item.categoria.id}}" value="{{item.nome}}"
                                                                required>
                                                        </div>

                                                        <!-- Campo Descrição -->
                                                        <div class="mb-3 input-group input-group-outline is-filled"
                                                            style="margin-top: 30px;">
                                                            <label for="descricao{{item.id_cardapio}}"
                                                                class="position-absolute"
                                                                style="top: -25px;">Descrição</label>
                                                            <textarea class="form-control"
                                                                id="descricao{{item.id_cardapio}}"
                                                                name="descricao{{item.categoria.id}}"
                                                                required>{{item.descricao}}</textarea>
                                                        </div>

                                                        <!-- Campo Preço Unitário -->
                                                        <div class="mb-3 input-group input-group-outline is-filled">
                                                            <label for="preco_unitario{{item.id_cardapio}}"
                                                                class="form-label">Preço Unitário</label>
                                                            <input type="text" class="form-control"
                                                                id="preco_unitario{{item.id_cardapio}}"
                                                                name="preco_unitario{{item.categoria.id}}"
                                                                value="{{item.preco}}" required>
                                                        </div>

                                                        <!-- Checkbox: Borda Recheada -->
                                                        <div class="form-check mb-3" style="margin-left: -27px;">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="borda_recheada{{categoria.id}}"
                                                                {% if item.borda_recheada %} checked {%endif%}
                                                                name="borda_recheada{{categoria.id}}">
                                                            <label class="form-check-label"
                                                                for="borda_recheada{{categoria.id}}">Oferecer Borda
                                                                Recheada?</label>
                                                        </div>

                                                        <!-- Campo Imagem -->
                                                        <div class="mb-3 input-group input-group-outline mt-5">
                                                            <label for="imagem{{item.id_cardapio}}"
                                                                style="position: absolute; top: 0; margin-top: -27px;">Imagem
                                                                do Item</label>
                                                            <input type="file" class="form-control"
                                                                id="imagem{{item.id_cardapio}}"
                                                                name="imagem{{item.categoria.id}}" accept="image/*">
                                                        </div>
                                                        <div class="mb-3">
                                                            <img id="previewImagem{{item.id_cardapio}}"
                                                                class="img-fluid rounded shadow"
                                                                src="{{ item.imagem.url }}"
                                                                style="max-height: 200px; object-fit: cover;">
                                                        </div>

                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn bg-gradient-danger w-100">Salvar
                                                                Alterações</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            const campoPreco = document.getElementById("preco_unitario{{item.id_cardapio}}");
                                            const im = new Inputmask("numeric", {
                                                groupSeparator: ".",
                                                autoGroup: true,
                                                radixPoint: ",",
                                                prefix: "R$ ",
                                                rightAlign: false,
                                                digits: 2,
                                                digitsOptional: false,
                                            });
                                            im.mask(campoPreco);
                                        });
                                    </script>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Modal para cadastrar nova categoria -->
<div class="modal fade" id="modalCadastroCategoria" tabindex="-1" aria-labelledby="modalCadastroCategoriaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-lg border-radius-xl shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCadastroEstoqueLabel">Nova Categoria</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'adicionar_categoria' cnpj=empresa.cnpj|remove_mask %}"
                    class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Campo Observação -->
                    <div class="mb-3 input-group input-group-outline">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                        <div class="invalid-feedback">Digite o nome</div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="submitBtn" class="btn bg-gradient-danger w-100">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Deletar -->
<div class="modal fade text-center" id="confirmarDeletarModal" tabindex="-1"
    aria-labelledby="confirmarDeletarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-lg border-radius-xl shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarDeletarModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir? <br>Esta ação não pode ser desfeita.</p>

                <div class="text-center">
                    <form id="formDeletar" method="POST" action="" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn bg-gradient-danger">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Script para configurar o formulário de deletação
    document.addEventListener("DOMContentLoaded", function () {
        const deleteLinks = document.querySelectorAll('.dele-link');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                // Impedir o comportamento padrão do link
                event.preventDefault();

                // Pega a URL de deleção e o ID do ingrediente
                const url = link.getAttribute('data-url');

                // Atualiza a ação do formulário
                const formDeletar = document.getElementById('formDeletar');
                formDeletar.setAttribute('action', url);
            });
        });
    });
</script>


<script>
    document.querySelectorAll('.item-ativo-vende').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            let itemId = this.getAttribute('data-item-id');
            fetch(`/empresas/{{empresa.cnpj|remove_mask}}/cardapio/item/${itemId}/toggle-ativo`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Status alterado com sucesso!');
                    }
                });
        });
    });
</script>

<script>
    document.querySelectorAll('.categoria-ativo').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            let itemId = this.getAttribute('data-item-id');
            fetch(`/empresas/{{empresa.cnpj|remove_mask}}/cardapio/categoria/${itemId}/toggle-ativo`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Status alterado com sucesso!');
                    }
                });
        });
    });
</script>
{% include 'includes/footer-emp.html' %}

{% endblock %}