{% extends 'includes/side-nav.html' %}
{% load static %}
{% load my_filters %}
{% block title %}Criar Pedido{% endblock %}

{% block content2 %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<style>
    /*!Simple-DataTables
Github: https://github.com/fiduswriter/Simple-DataTables*/
    .datatable-wrapper.no-header .datatable-container {
        border-top: 1px solid #d9d9d9
    }

    .datatable-wrapper.no-footer .datatable-container {
        border-bottom: 1px solid #d9d9d9
    }

    .datatable-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .datatable-top::after {
        display: none;
    }

    .datatable-selector {
        padding: 6px
    }

    .datatable-input {
        padding: 6px 12px
    }

    .datatable-info {
        margin: 7px 0
    }

    .datatable-pagination ul {
        margin: 0;
        padding-left: 0
    }

    .datatable-pagination li {
        list-style: none;
        float: left
    }

    .datatable-pagination a {
        border: 1px solid transparent;
        float: left;
        margin-left: 2px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
        color: #333
    }

    .datatable-pagination a:hover {
        background-color: #d9d9d9
    }

    .datatable-pagination .active a,
    .datatable-pagination .active a:focus,
    .datatable-pagination .active a:hover {
        background-color: #d9d9d9;
        cursor: default
    }

    .datatable-pagination .ellipsis a,
    .datatable-pagination .disabled a,
    .datatable-pagination .disabled a:focus,
    .datatable-pagination .disabled a:hover {
        cursor: not-allowed
    }

    .datatable-pagination .disabled a,
    .datatable-pagination .disabled a:focus,
    .datatable-pagination .disabled a:hover {
        cursor: not-allowed;
        opacity: .4
    }

    .datatable-pagination .pager a {
        font-weight: 700
    }

    .datatable-table {
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate
    }

    .datatable-table>tbody>tr>td,
    .datatable-table>tbody>tr>th,
    .datatable-table>tfoot>tr>td,
    .datatable-table>tfoot>tr>th,
    .datatable-table>thead>tr>td,
    .datatable-table>thead>tr>th {
        vertical-align: top;
        padding: 8px 10px
    }

    .datatable-table>thead>tr>th {
        vertical-align: bottom;
        text-align: left;
        border-bottom: 1px solid #d9d9d9
    }

    .datatable-table>tfoot>tr>th {
        vertical-align: bottom;
        text-align: left;
        border-top: 1px solid #d9d9d9
    }

    .datatable-table th {
        vertical-align: bottom;
        text-align: left
    }

    .datatable-table th a {
        text-decoration: none;
        color: inherit
    }


    .dataTables-empty {
        text-align: center
    }


    /*!Simple-DataTables
Github: https://github.com/fiduswriter/Simple-DataTables*/
    .datatable-wrapper .datatable-top .datatable-dropdown {
        float: left
    }

    .datatable-wrapper .datatable-top .datatable-dropdown label {
        margin-bottom: 0;
        margin-left: 0;
        color: #8392ab;
        font-weight: 400
    }

    .datatable-wrapper .datatable-top .datatable-dropdown label .datatable-selector {
        border-color: #e9ecef;
        border-radius: .25rem
    }

    .datatable-wrapper .datatable-top .datatable-search input {
        font-size: .875rem;
        color: #495057;
        border: 1px solid #e9ecef;
        border-radius: .5rem
    }

    .datatable-wrapper .datatable-top .datatable-search input:focus-visible {
        outline: none
    }

    .datatable-wrapper .datatable-container .table thead tr th {
        padding: .75rem 1.5rem;
        opacity: .7;
        font-weight: bolder;
        color: #8392ab;
        text-transform: uppercase;
        font-size: .65rem
    }

    .datatable-wrapper .datatable-container .table tbody tr td {
        padding: .75rem 1.5rem
    }

    .datatable-wrapper .datatable-bottom {
        padding: 1.5rem;
        padding-top: 0
    }

    .datatable-wrapper .datatable-bottom .datatable-info {
        color: #8392ab;
        font-size: .875rem
    }

    .datatable-bottom .datatable-pagination .datatable-pagination-list li button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8392ab;
        padding: 0;
        margin: 0 3px;
        border: 1px solid #dee2e6;
        border-radius: 50% !important;
        width: 36px;
        height: 36px;
        font-size: .875rem;
        margin-left: 0
    }

    .datatable-bottom .datatable-pagination .datatable-pagination-list li button:hover {
        background: #e9ecef
    }

    .datatable-bottom .datatable-pagination .datatable-pagination-list .datatable-active button {
        background: 0 0;
        background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
        box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
        color: #fff;
        border: none;
        border-radius: 50% !important
    }

    .datatable-bottom .datatable-pagination .datatable-pagination-list .datatable-active button:hover {
        background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
    }

    .datatable-wrapper.no-footer .datatable-container {
        border-bottom: 0
    }

    .datatable-table thead td,
    .datatable-table thead th,
    .datatable-table tbody td,
    .datatable-table tbody th,
    .datatable-table tfoot td,
    .datatable-table tfoot th {
        vertical-align: middle !important
    }

    .dataTable-sorter {
        text-transform: uppercase;
    }

    @media(max-width: 575.98px) {
        .datatable-top>div:last-child {
            float: left;
            margin-top: 1rem
        }
    }
</style>
<link rel="stylesheet" href="{% static 'css/3steps.css' %}">
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h3>Faça um Pedido Manual</h3>
            <h5 class="font-weight-normal">Preencha as informações abaixo para registrar um pedido manual em nosso
                sistema.</h5>
            <div class="multisteps-form mb-5">
                <!--progress bar-->
                <div class="row mt-5">
                    <div class="col-12 col-lg-8 mx-auto my-5">
                        <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="Cliente">
                                <span>Cliente</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Endereço">
                                <span>Endereço</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Cardápio">
                                <span>Cardápio</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Resumo">
                                <span>Resumo</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Pagamento">
                                <span>Pagamento</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!--form panels-->
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <form method="post" action="{% url 'pedido_manual' cnpj=empresa.cnpj|remove_mask %}" class="multisteps-form__form needs-validation"
                            style="min-height: 580px;" novalidate>
                            {% csrf_token %}
                            <!--single form panel-->
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-10 mx-auto">
                                        <h5 class="font-weight-normal">Vamos começar. Qual é o cliente?</h5>
                                        <p>Nos de mais detalhes. É um cliente cadastrado ou novo?</p>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="row mt-4">
                                         <!-- Input para buscar cliente -->
                                        <div class="col-12">
                                            <div class="input-group input-group-outline mb-3">
                                                <label for="cliente_input" class="form-label">Digite CPF do cliente:</label>
                                                <input type="text" id="cliente_input" class="form-control" oninput="buscarCliente()" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div id="clientes_encontrados" class="mt-2"></div>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">

                                        <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next icon-move-right" type="button"
                                            title="Next">Próximo <i class="fas fa-arrow-right text-xs ms-1"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-10 mx-auto">
                                        <h5 class="font-weight-normal">Qual o endereço?</h5>
                                        <p>Se o cliente tiver endereço cadastrado ele aparecerá aqui.</p>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="row text-start">
                                       <!-- Campo de CEP -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="txtCep" style="width: 96.8%">CEP</label>
                                            <input type="text" class="form-control" id="txtCep" name="txtCep" required
                                                minlength="9" onchange="buscaCep()">
                                            <div class="invalid-feedback">Digite o CEP corretamente.</div>
                                        </div>

                                        <!-- Campo de Endereço -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="endereco" style="width: 96.8%">Endereço</label>
                                            <input type="text" class="form-control" id="endereco" name="endereco"
                                                aria-label="endereco" required autocomplete="off">
                                            <div class="invalid-feedback">Digite o endereço completo.</div>
                                        </div>

                                        <!-- Campo de Número -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="numero" style="width: 96.8%">Número</label>
                                            <input type="text" class="form-control" id="numero" name="numero"
                                                aria-label="numero" required autocomplete="off">
                                            <div class="invalid-feedback">Digite o número do endereço.</div>
                                        </div>

                                        <!-- Campo de Complemento -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="complemento" style="width: 96.8%">Complemento</label>
                                            <input type="text" class="form-control" id="complemento" name="complemento"
                                                aria-label="complemento" autocomplete="off">
                                        </div>

                                        <!-- Campo de Bairro -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="bairro" style="width: 96.8%">Bairro</label>
                                            <input type="text" class="form-control" id="bairro" name="bairro"
                                                aria-label="bairro" required autocomplete="off">
                                            <div class="invalid-feedback">Digite o bairro do endereço.</div>
                                        </div>

                                        <!-- Campo de Estado -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="estado" style="width: 96.8%">Estado</label>
                                            <input type="text" class="form-control" id="estado" name="estado"
                                                aria-label="estado" required autocomplete="off">
                                            <div class="invalid-feedback">Digite o estado do endereço.</div>
                                        </div>

                                        <!-- Campo de Município -->
                                        <div class="mb-3 input-group input-group-outline">
                                            <label class="form-label" for="municipio" style="width: 96.8%">Município</label>
                                            <input type="text" class="form-control" id="municipio" name="municipio"
                                                aria-label="municipio" required autocomplete="off">
                                            <div class="invalid-feedback">Digite o município do endereço.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="button-row d-flex mt-4 col-12">
                                            <button class="btn bg-gradient-light mb-0 js-btn-prev icon-move-left" type="button"
                                            title="Prev"><i class="fas fa-arrow-left text-xs ms-1"></i> Anterior</button>
                                        <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next icon-move-right" type="button"
                                            title="Next">Proxima <i class="fas fa-arrow-right text-xs ms-1"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active"
                                data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-10 mx-auto">
                                        <h5 class="font-weight-normal">Quais itens entrarão nesse pedido?</h5>
                                        <p>Nos informe quais itens do nosso cardápio você deseja pedir. Abaixo está a
                                            lista de opções disponíveis.</p>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="table-responsive card-body">
                                        <table class="table table-flush dataTable-table" id="cardapio-table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        data-sortable="false" style="width: 22.1422%;">
                                                        Imagem
                                                    </th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        data-sortable="" style="width: 24.3864%;"><a href="#"
                                                            class="dataTable-sorter">
                                                            Nome
                                                        </a></th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        data-sortable="" style="width: 27.8274%;"><a href="#"
                                                            class="dataTable-sorter">
                                                            Preço
                                                        </a></th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        data-sortable="false" style="width: 15.5594%;">Quantidade</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                                        data-sortable="false" style="width: 26.9297%;">Adicionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for cardapio in cardapios %}
                                                <tr>
                                                    <td class="text-sm font-weight-normal">
                                                        <span class="my-2 text-xs">
                                                            <img src="{{ cardapio.imagem.url }}" alt="bruce"
                                                                class="border-radius-lg shadow-sm avatar"
                                                                style="object-fit: cover;">
                                                        </span>
                                                    </td>
                                                    <td class="text-sm text-start font-weight-normal">{{ cardapio.nome }}</td>
                                                    <td class="text-sm text-start font-weight-normal">R$ {{ cardapio.preco }}</td>
                                                    <td class="text-sm text-start font-weight-normal">
                                                        <div class="input-group input-group-outline">
                                                            <input type="number" id="qnt{{cardapio.id_cardapio}}" name="qnt{{cardapio.id_cardapio}}" class="form-control" min="0" step="1">
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-center text-xxl">
                                                        <p class="mb-0">
                                                            <a href="javascript:void(0);" class="text-danger" onclick="onAdicionarItem({{ cardapio.id_cardapio }}, '{{ cardapio.nome }}', '{{ cardapio.preco }}', '{{ cardapio.imagem.url }}')">
                                                                <i class="ph-bold ph-caret-right" style="font-size: large;"></i>
                                                            </a>
                                                        </p>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn bg-gradient-light mb-0 js-btn-prev icon-move-left" type="button"
                                            title="Prev"><i class="fas fa-arrow-left text-xs ms-1"></i> Anterior</button>
                                        <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next icon-move-right" type="button"
                                            title="Next">Proxima <i class="fas fa-arrow-right text-xs ms-1"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-10 mx-auto">
                                        <h5 class="font-weight-normal">Resumo do Pedido</h5>
                                        <p>Confira se todos os dados estão corretos</p>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="row text-start" id="quantidade-ingredientes">
                        
                                    </div>
                                    <input type="hidden" id="pedidoItens" name="pedidoItens" value="">
                                    <div class="row">
                                        <div class="button-row d-flex mt-4 col-12">
                                            <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button"
                                                title="Prev">Anterior</button>
                                            <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next icon-move-right" type="button"
                                                title="Next">Proxima <i class="fas fa-arrow-right text-xs ms-1"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white"
                                data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-10 mx-auto">
                                        <h5 class="font-weight-normal">Qual a forma de pagamento?</h5>
                                        <p>Selecione a forma de pagamento que o cliente escolheu!</p>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="row mt-4">
                                        <div class="col-sm-3 ms-auto">
                                            <input type="radio" class="btn-check" id="btncheck_dinheiro" name="forma_pagamento" value="dinheiro">
                                            <label class="btn btn-lg btn-outline-secondary border-2 px-6 py-5" for="btncheck_dinheiro">
                                                <i class="fa-solid fa-money-bills"></i>
                                            </label>
                                            <h6>Dinheiro</h6>
                                        </div>
                                        <div class="col-sm-3 ms-auto">
                                            <input type="radio" class="btn-check" id="btncheck_cartao_credito" name="forma_pagamento" value="cartao_credito">
                                            <label class="btn btn-lg btn-outline-secondary border-2 px-6 py-5" for="btncheck_cartao_credito">
                                                <i class="fa-regular fa-credit-card"></i>
                                            </label>
                                            <h6>Cartão de Crédito</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="radio" class="btn-check" id="btncheck_cartao_debito" name="forma_pagamento" value="cartao_debito">
                                            <label class="btn btn-lg btn-outline-secondary border-2 px-6 py-5" for="btncheck_cartao_debito">
                                                <i class="fa-regular fa-credit-card"></i>
                                            </label>
                                            <h6>Cartão de Débito</h6>
                                        </div>
                                        <div class="col-sm-3 me-auto">
                                            <input type="radio" class="btn-check" id="btncheck_pix" name="forma_pagamento" value="pix">
                                            <label class="btn btn-lg btn-outline-secondary border-2 px-6 py-5" for="btncheck_pix">
                                                <i class="fa-brands fa-pix"></i>
                                            </label>
                                            <h6>PIX</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="button-row d-flex mt-4 col-12">
                                            <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Anterior</button>
                                            <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Send">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/messages.html' %}


<script src="{% static 'js/3steps.js' %}"></script>
<script src="{% static 'js/buscacep.js' %}"></script>
<script>
    const dataTableCardapio = new simpleDatatables.DataTable("#cardapio-table", {
        searchable: true,
        labels: {
            placeholder: "Pesquisa...",
            searchTitle: "Search within table",
            pageTitle: "Página {page}",
            perPage: "itens por página",
            noRows: "Nenhum item encontrado.",
            info: "Exibindo {start} até {end} de {rows} total",
            noResults: "Nenhum item encontrado",
        },
        perPage: 2,
        perPageSelect: false,
    });

    // Array para armazenar os itens do pedido
    let pedidoItens = [];

    $(document).ready(function () {
        $('#txtCep').mask('00000-000');
        $('#cliente_input').mask('000.000.000-00');
    });

    function buscarCliente() {
        let clienteInput = document.getElementById("cliente_input").value;
        let clientesEncontrados = document.getElementById("clientes_encontrados");

        // Limpar resultados anteriores
        clientesEncontrados.innerHTML = '';

        // Chamada AJAX para buscar clientes
        if (clienteInput.length >= 14) {
            fetch(`/empresas/{{empresa.cnpj|remove_mask}}/buscar_cliente/?q=${clienteInput}`)
                .then(response => response.json())
                .then(data => {
                    if (data && data.clientes && data.clientes.length > 0) {
                        data.clientes.forEach(cliente => {
                            let divCliente = document.createElement("div");
                            divCliente.classList.add("cliente-item");
                            divCliente.innerHTML = `
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="${cliente.id}" id="cliente" name="cliente" required>
                                    <label class="custom-control-label" for="cliente">${cliente.nome} - ${cliente.cpf} - ${cliente.telefone}</label>
                                </div>
                            `;
                            clientesEncontrados.appendChild(divCliente);

                            // Adicionando evento para capturar o checkbox selecionado
                            document.getElementById(`cliente`).addEventListener('change', function() {
                                if (this.checked) {
                                    let clienteId = `${cliente.id}`;
                                    fetchEnderecoCliente(clienteId);
                                } else {
                                    // Limpar os inputs caso o checkbox seja desmarcado
                                    limparEndereco();
                                }
                            });
                        });
                    } else {
                        clientesEncontrados.innerHTML = `Nenhum cliente encontrado. <br>
                        <button type="button" class="btn bg-gradient-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modalCadastroIngrediente">Cadastrar</button>
                        `;
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar clientes:', error);
                    clientesEncontrados.innerHTML = 'Ocorreu um erro ao buscar os clientes.';
                });
        }
    }

    function fetchEnderecoCliente(clienteId) {
        fetch(`/empresas/{{empresa.cnpj|remove_mask}}/buscar_endereco_cliente/${clienteId}`)
            .then(response => response.json()) // Assumindo que a resposta seja JSON
            .then(data => {
                if (data && data.endereco) {
                    // Preencher os campos do formulário com os dados de endereço, se os campos existirem
                    const endereco = data.endereco;

                    const camposEndereco = [
                        { id: "txtCep", value: endereco.cep },
                        { id: "endereco", value: endereco.logradouro },
                        { id: "numero", value: endereco.numero },
                        { id: "bairro", value: endereco.bairro },
                        { id: "estado", value: endereco.estado },
                        { id: "municipio", value: endereco.municipio },
                        { id: "complemento", value: endereco.complemento }
                    ];

                    camposEndereco.forEach(({ id, value }) => {
                        const campo = document.getElementById(id);
                        const divContainer = campo ? campo.closest('.input-group') : null;  // Procurando o .input-group mais próximo

                        if (campo) {
                            campo.value = value || '';  // Preenche o campo, se ele existir

                            // Se o campo tiver valor, adiciona a classe is-filled na div
                            if (campo.value.trim() !== '') {
                                if (divContainer && !divContainer.classList.contains('is-filled')) {
                                    divContainer.classList.add('is-filled');
                                }
                            } else {
                                // Caso contrário, remove a classe is-filled
                                if (divContainer && divContainer.classList.contains('is-filled')) {
                                    divContainer.classList.remove('is-filled');
                                }
                            }
                        } else {
                            console.warn(`Elemento com id "${id}" não encontrado no DOM.`);
                        }
                    });
                } else {
                    // Caso o endereço não seja encontrado, limpar os campos
                    limparEndereco();
                }
            })
            .catch(error => {
                console.error('Erro ao buscar endereço:', error);
                limparEndereco();  // Limpar os campos caso haja erro na requisição
            });
    }

    function limparEndereco() {
        const camposEndereco = ["txtCep", "endereco", "numero", "estado", "municipio", "complemento", "bairro"];
        
        camposEndereco.forEach(id => {
            const campo = document.getElementById(id);
            const divContainer = campo ? campo.closest('.input-group') : null;  // Procurando a div com a classe .input-group

            if (campo) {
                campo.value = '';  // Limpa o campo

                // Se o campo estiver vazio, remove a classe is-filled
                if (divContainer && divContainer.classList.contains('is-filled')) {
                    divContainer.classList.remove('is-filled');
                }
            } else {
                console.warn(`Elemento com id "${id}" não encontrado no DOM.`);
            }
        });
    }

    // Função para adicionar item ao pedido
    function adicionarItem(id, nome, preco, imagem) {
        // Obter a quantidade selecionada
        const quantidade = document.getElementById('qnt' + id).value;

        // Verificar se a quantidade é maior que zero
        if (quantidade > 0) {
            // Verificar se o item já está no pedido
            let itemExistente = pedidoItens.find(item => item.id === id);

            if (itemExistente) {
                // Se o item já estiver no pedido, apenas atualizamos a quantidade
                itemExistente.quantidade += parseInt(quantidade);
            } else {
                // Caso contrário, adicionamos um novo item ao pedido
                showSweetAlert("Sucesso", `${nome} adicionado(a) ao pedido! Quantidade: ${quantidade}`, "success")
                pedidoItens.push({
                    id: id,
                    nome: nome,
                    preco: parseFloat(preco),
                    quantidade: parseInt(quantidade),
                    imagem: imagem
                });
            }

            // Atualizar o resumo do pedido
            atualizarResumo();
        } else {
            showSweetAlert("Erro", "Selecione uma quantidade correta.", "error")
        }
    }

    // Função para atualizar o resumo do pedido
function atualizarResumo() {
    // Limpar a lista de itens no resumo
    const resumoElement = document.getElementById('quantidade-ingredientes');
    resumoElement.innerHTML = '';

    // Variável para armazenar o total do pedido
    let totalPedido = 0;

    // Exibir os itens no resumo
    pedidoItens.forEach(item => {
        const div = document.createElement('div');
        div.classList.add('mb-3', 'd-flex', 'align-items-center', 'justify-content-between');
        div.innerHTML = `
            <div class="d-flex align-items-center">
                <img src="${item.imagem}" alt="${item.nome}" class="img-fluid avatar border-radius-lg shadow-sm" style="width: 50px; height: 50px; object-fit: cover;">
                <strong class="ms-3">${item.nome}</strong> 
                <span class="ms-3">R$ ${item.preco.toFixed(2)} x</span>
                <div class="input-group input-group-sm input-group-outline w-15">
                    <input type="number" value="${item.quantidade}" min="1" class="quantidade-item form-control ms-2" data-id="${item.id}" id="ipc${item.id}" name="ipc${item.id}">
                </div>
                <span class="ms-3">= R$ ${(item.preco * item.quantidade).toFixed(2)}</span>
            </div>
            <button class="btn btn-sm btn-danger ms-3" onclick="removerItem(${item.id})">Remover</button>
        `;
        
        // Adiciona o preço total do item ao total do pedido
        totalPedido += item.preco * item.quantidade;

        resumoElement.appendChild(div);
    });

    // Exibe o total do pedido no final do resumo
    const divTotal = document.createElement('div');
    divTotal.classList.add('mb-3', 'd-flex', 'align-items-center', 'justify-content-between');
    divTotal.innerHTML = `
        <strong>Total:</strong>
        <span>R$ ${totalPedido.toFixed(2)}</span>
    `;
    resumoElement.appendChild(divTotal);
}


    // Função para remover um item do pedido
    function removerItem(id) {
        // Filtrar os itens do pedido para remover o item com o id fornecido
        pedidoItens = pedidoItens.filter(item => item.id !== id);
        
        // Atualizar o resumo após a remoção
        atualizarResumo();
    }

    // Função que será chamada ao clicar no ícone de adicionar item
    function onAdicionarItem(id, nome, preco, imagem) {
        adicionarItem(id, nome, preco, imagem);
    }

    // Função para adicionar os itens ao campo oculto antes do envio
    function adicionarItensNoFormulario() {
        const pedidoItensInput = document.getElementById('pedidoItens');
        pedidoItensInput.value = JSON.stringify(pedidoItens);
    }

    // Adicionar um evento para chamar a função antes do envio do formulário
    document.querySelector('form').addEventListener('submit', function (e) {
        adicionarItensNoFormulario();
    });

    // Atualizar o resumo quando a quantidade for alterada
document.addEventListener('input', function (e) {
    if (e.target.classList.contains('quantidade-item')) {
        const id = e.target.dataset.id;
        const novaQuantidade = parseInt(e.target.value);

        // Verificar se a nova quantidade é válida (maior que 0)
        if (novaQuantidade > 0) {
            // Atualizar a quantidade do item no pedido
            let itemExistente = pedidoItens.find(item => item.id == id);
            if (itemExistente) {
                itemExistente.quantidade = novaQuantidade;  // Atualiza a quantidade do item
            }

            // Atualizar o resumo
            atualizarResumo();
            adicionarItensNoFormulario();
        } else {
            // Se a quantidade for menor ou igual a 0, resetar o valor para 1 (ou outro valor padrão)
            e.target.value = 1;
        }
    }
});
</script>
<!-- Modal -->
<div class="modal fade" id="modalCadastroIngrediente" tabindex="-1" aria-labelledby="modalCadastroIngredienteLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-lg border-radius-xl shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCadastroIngredienteLabel">Cadastrar Novo Cliente</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                    aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form id="formCadastroCliente" method="post" action="{% url 'cadastro_cliente_manual' cnpj=empresa.cnpj|remove_mask %}"
                    class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3 input-group input-group-outline">
                        <label for="nome" class="form-label">Nome</label>
                        <input class="form-control" id="nome" name="nome" required/>
                        <div class="invalid-feedback">Preencha o nome.</div>
                    </div>
                    <div class="mb-3 input-group input-group-outline">
                        <label class="form-label" for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" aria-label="cpf"
                            minlength="14" required>
                        <div class="invalid-feedback">Digite o cpf corretamente.</div>
                    </div>
                    <div class="mb-3 input-group input-group-outline">
                        <label for="telefone" class="form-label">Celular</label>
                        <input type="text" class="form-control" id="telefone" name="telefone"
                            aria-label="telefone" required minlength="15">
                        <div class="invalid-feedback">Digite seu telefone celular corretamente.</div>
                    </div>
                    <div class="mb-3 input-group input-group-outline">
                        <label class="form-label" for="dataN">Data de Nascimento</label>
                        <input type="text" class="form-control" id="dataN" name="dataN"
                            aria-label="dataN" required minlength="10">
                        <div class="invalid-feedback">Digite a data de nascimento corretamente.</div>
                    </div>
                    <div class="mb-3 input-group input-group-outline">
                        <select class="form-control" id="genero" name="genero" aria-label="genero" required>
                            <option value="" disabled selected>Selecione seu gênero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                        </select>
                        <div class="invalid-feedback">Selecione o gênero.</div>
                    </div>
                    <script>
                         $(document).ready(function () {
                            $('#cpf').mask('000.000.000-00');
                            $('#telefone').mask('(00) 00000-0000');
                            $('#dataN').mask('00/00/0000');

                            // Enviar formulário via AJAX
                            $('#formCadastroCliente').on('submit', function (e) {
                                e.preventDefault(); // Impede o envio tradicional

                                var formData = $(this).serialize(); // Serializa os dados do formulário

                                $.ajax({
                                    url: "{% url 'cadastro_cliente_manual' cnpj=empresa.cnpj|remove_mask %}", // A URL que irá processar os dados
                                    type: "POST",
                                    data: formData,
                                    success: function (response) {
                                        if (response.success) {
                                            showSweetAlert("Sucesso", "Cliente cadastrado com sucesso!", "success");
                                            $('#modalCadastroIngrediente').modal('hide');
                                            $('#formCadastroCliente')[0].reset();
                                        } else {
                                            showSweetAlert("Erro", "Erro ao cadastrar cliente. Verifique os dados e tente novamente.", "error");
                                        }
                                    },
                                    error: function () {
                                        showSweetAlert("Erro", "Erro de comunicação com o servidor.", "error");
                                    }
                                });
                            });
                        });
                    </script>
                    <!-- Botão de Submissão -->
                    <div class="text-center">
                        <button type="submit" id="submitBtn" class="btn bg-gradient-dark w-100 icon-move-right">Cadastrar <i class="fas fa-arrow-right text-xs ms-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}