{% extends 'includes/side-nav.html' %}
{% load static %}
{% load my_filters %}
{% block title %}Receitas{% endblock %}

{% block content2 %}
<style>
    .card .card-body{
        font-family: 'Lexend', sans-serif;
        font-size: 14px;
    }

</style>
<div class="container-fluid py-4 min-vh-85">
    {% include 'includes/messages.html' %}
    <div class="row">

        <div class="col-lg-9 col-7">
            <div class="input-group input-group-outline">
                <span class="input-group-text"><i class="ph-bold ph-magnifying-glass position-absolute end-0 me-3"
                        style="margin-top: 14px;"></i></span>
                <form action="{% url 'receitas' cnpj=empresa.cnpj|remove_mask %}" method="get" class="w-100">
                    <input type="text" class="form-control" placeholder="Busque pelo nome do item" id="search"
                        name="search" style="padding-right: 35px !important;" value="{{ search }}">
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-5 justify-content-center">
            <a class="btn bg-gradient-danger w-100 icon-move-right" href="{% url 'cadastrar_receita' cnpj=empresa.cnpj|remove_mask %}" class="btn bg-gradient-dark btn-sm">Cadastrar <i class="fas fa-arrow-right text-xs ms-1"></i></a>
        </div>
        {% if cardapio %}
        {% if search %}
        <p>Exibindo resultados de: <b>{{search|capfirst}}</b></p>
        {% endif %}
        {% for item in cardapio %}
        <div class="col-md-4">
            <section class="pb-4">
                <div class="row justify-space-between py-2">
                    <div class="mx-auto">
                        <div class="card shadow-lg mt-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="d-block blur-shadow-image">
                                    <img src="{{item.imagem.url}}" alt="img-blur-shadow"
                                        class="img-fluid shadow border-radius-lg move-on-hover"
                                        style="width: 100%; height: 200px; object-fit: cover;">
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="">{{item.nome}}</h4>
                                <p class="mb-0">
                                    Quantidade de Ingredientes: {{ quantidade_ingredientes|get_item:item.id_cardapio }}
                                </p>
                                <p class="m-0 p-0">Custo de Produção: R$ {{ item.calcular_custo_producao }}</p>
                                <p>Receita Cadastrada?
                                    {% if item.completo %}
                                    <span class="badge" style="background: #BCE2BE; color: #329536;">Sim</span>
                                    {% else %}
                                    <span class="badge" style="background: #FCD3D0; color: #F51300;">Não</span>
                                    {% endif %}
                                </p>
                                {% if quantidade_ingredientes|get_item:item.id_cardapio >= 1 %}
                                <a href="javascript:;" class="text-danger icon-move-right" data-bs-toggle="modal"
                                    data-bs-target="#editarModal{{ item.id_cardapio }}">Ver mais <i
                                        class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i></a>
                                {% else %}
                                <a href="javascript:;" class="text-danger" style="cursor: default;">Sem receita</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <!-- Modal para editar o ingrediente -->
        <div class="modal fade" id="editarModal{{ item.id_cardapio }}" tabindex="-1"
            aria-labelledby="modalEditarIngredienteLabel{{ item.id_cardapio }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-lg border-radius-xl shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarIngredienteLabel{{ item.id_cardapio }}">Receita: {{item.nome|capfirst }}</h5>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal"
                            aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="#" class="needs-validation" novalidate>
                            {% csrf_token %}

                            {% for receita in receitas %}
                            {% if receita.cardapio_item == item %}
                            <!-- Campo Nome -->
                            <div class="row">
                                <div class="col-7">
                                    <div class="input-group input-group-outline my-3 is-filled">
                                        <label class="form-label"
                                            for="nome{{receita.id_ingredientecardapio}}">Ingrediente</label>
                                        <input type="text" class="form-control" value="{{ receita.ingrediente.nome }}"
                                            id="nome{{receita.id_ingredientecardapio}}"
                                            name="nome{{receita.id_ingredientecardapio}}" readonly>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-outline my-3 is-filled">
                                        <label class="form-label"
                                            for="quantidade{{receita.id_ingredientecardapio}}">Quantidade</label>
                                        <input type="text" class="form-control"
                                            value="{{ receita.quantidade }} {{receita.ingrediente.unidade}}"
                                            id="quantidade{{receita.id_ingredientecardapio}}"
                                            name="quantidade{{receita.id_ingredientecardapio}}" readonly>
                                    </div>
                                </div>
                                <div class="col-1" style="margin-top: 20px;">
                                    <form method="POST"
                                        action="{% url 'deletar_ingrediente_receita' cnpj=empresa.cnpj|remove_mask ingrediente_id=receita.id_ingredientecardapio %}"
                                        class="delete-ingrediente-form"
                                        data-ingrediente-id="{{ receita.id_ingredientecardapio }}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn" style="margin: 0; padding: 0;">
                                            <i class="fa fa-trash"
                                                id="trash-icon-{{ receita.id_ingredientecardapio }}"></i>
                                            <span id="loading-icon-{{ receita.id_ingredientecardapio }}"
                                                class="spinner-border spinner-border-sm" style="display:none;"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Nenhum Item cadastrado no Cardápio.</p>
        {% endfor %}
        {% else %}
        {% if search %}
        <p>Nenhuma receita encontrada para "<b>{{ search|capfirst }}</b>"</p>
        {% endif %}
        {%endif%}
    </div>
</div>
{% include 'includes/footer-emp.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteForms = document.querySelectorAll('.delete-ingrediente-form');

        deleteForms.forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(form);
                const ingredienteId = form.getAttribute('data-ingrediente-id');
                const url = form.action;

                const trashIcon = document.getElementById('trash-icon-' + ingredienteId);
                const loadingIcon = document.getElementById('loading-icon-' + ingredienteId);

                // Exibe o spinner de carregamento
                trashIcon.style.display = 'none';
                loadingIcon.style.display = 'inline-block';

                fetch(url, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Sucesso: Remove a linha da tabela
                            const row = form.closest('.row');
                            if (row) {
                                row.remove();
                            }
                            showSweetAlert("Sucesso", "Ingrediente excluído com sucesso!", "success");
                        } else {
                            showSweetAlert("Erro", "Erro ao deletar o ingrediente.", "error");
                        }
                    })
                    .catch(error => {
                        console.error('Erro na requisição AJAX:', error);
                        showSweetAlert("500", "Erro na comunicação com o servidor.", "question");
                    })
                    .finally(() => {
                        // Esconde o spinner e mostra o ícone novamente
                        loadingIcon.style.display = 'none';
                        trashIcon.style.display = 'inline-block';
                    });
            });
        });
    });

</script>
{% endblock %}